/** Variables
 ---------------------------------------------------------*/
 :root {
     --light-grey: rgba(99,99,99,0.5);
     --white: rgba(255,255,255,0.7);
     --drop-shadow: rgba(0,0,0,0.5);
 }

/** Global Reset
 ---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: var(--white);
    line-height: 1.5;
    font-size: 2rem;
}

/** Background
 ---------------------------------------------------------*/
.hero {
    background-image: url("../img/stefan-steinbauer-23268-optimized.jpg");
    background-size: cover;
    background-position: center;
    width: 100wh;
    height: 100vh;
    position: relative;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fadein 2s ease-in-out;
    --webkit-animation: fadein 2s ease-in-out;
    --moz-animation: fadein 2s ease-in-out;
    --ms-animation: fadein 2s ease-in-out;
    --o-animation: fadein 2s ease-in-out;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/** Quote Box
 ---------------------------------------------------------*/
.content {
    padding: 2rem 5rem 6rem 5rem;
    background-color: var(--white);
    border-radius: 7rem 1rem;
}


 .quote-box {
    padding: 2rem 1rem; 
    color: black;
    border-bottom: 1px solid black;
    
}


.quote,
.author {
    display: inline-block;
}

.quote {
    font-size: 4rem;
}

.author {
    font-size: 2rem;
    float: right;
}


/** Buttons and Social
 ---------------------------------------------------------*/
 .buttons {
     max-height: 4rem;
     padding-top: 1rem;
 }
 
 .new-quote {
     float: left;
     font-size: 2rem;
     padding: .5rem 3rem;
     max-width: 14rem;
     border-radius: 0.5rem;
     box-shadow: 4px 8px 10px var(--drop-shadow);
     color: black;
     background-color: #eee;
     display: inline-b1lock;
     transition: .5s;
 }

 .new-quote:hover {
     color: rgb(44,44,44);
     background-color: #fff;
     cursor: pointer;ccccccccc
 }

 .social {
     float: right;
     display: inline-block;
 }

 .social:hover {
     cursor: pointer;
 }

 .twitter {
    max-width: 8rem;
    height: 4rem;
    padding: .5rem 3rem;
    margin: 0 auto;
    display: inline-block;
    color: black;
    background-color: #eee;
    border-radius: 0.5rem;
    box-shadow: 4px 8px 10px var(--drop-shadow);

    position: relative;
 }

.twitter:hover {
    background-color: #fff;
}

.create-tweet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .icon-twitter {
    fill: black;
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
 }

 .social:hover >.twitter> .create-tweet >.icon-twitter {
     fill: #0084FF;
 } 


/** Media Queries
 ---------------------------------------------------------*/ 

/* Tablets: from 0 to 767px */
@media only screen and (max-width: 767px) {
    .quote {
        font-size: 3.5rem;
    }
    
    .author {
        font-size: 1.75rem;
    }

    .new-quote {
        font-size: 1.55rem;
        max-width: 13rem;
        padding: .3rem 2rem;
    }

    .twitter {
        height: 2.9rem;
        padding: .5rem 2.7rem;
        max-width: 6rem;
    }

    .icon-twitter {
        width: 1.7rem;
        height: 1.7rem;
    }
}



 /* Small Phones: 0 to 480px */
 @media only screen and (max-width: 480px) {
    .quote {
        font-size: 2.5rem;
    }
    
    .author {
        font-size: 1.25rem;
    }

    .new-quote {
        font-size: 1.2rem;
        padding: .3rem 1.2rem;
    }

    .twitter {
        height: 2.4rem;
        padding: .5rem 2.2rem;
    }

    .icon-twitter {
        width: 1.7rem;
        height: 1.7rem;
    }
 }