

/** Global Reset
 ---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    font-size: 2rem;
}

/** Background
 ---------------------------------------------------------*/
.hero {
    background-image: url("../img/stefan-steinbauer-23268-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100wh;
    height: 100vh;
    display: flex;
}

.container {
    
}

/** Quote Box
 ---------------------------------------------------------*/






/** Buttons and Social
 ---------------------------------------------------------*/
 



 /** Media Query
 ---------------------------------------------------------*/



 